.buttonSection{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 3vw;
    padding-top: 5vh;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
}