.buttonSection{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 15vw;
    padding-top: 5vh;
}

.nav{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10vh;
    background-color: #14c688;
    color: white;
}

.cards{
    display: flex;
    justify-content: center;
}

.cardSection{
    display: flex;
    justify-content: space-evenly;
    gap: 35px;
    margin-top: 10vh;
}